* {
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
}

#back {
    width: 100%;
    height: 100vh;
}

#back img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#top {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#working-area {
    position: relative;
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}

#nav {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav img {
    height: 40px;
}

#nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    pointer-events: all;
}

#nav-left,
#nav-right {
    display: flex;
    align-items: center;
    gap: 60px;
}

#hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 46%;
    left: 0;
    transform: translate(0%, -50%);
}

#hero-left {
    min-width: 50%;
}

#hero-left .element1 {
    height: 8vw;
    overflow: hidden;
    position: relative;


}

#hero-left .element1 h1 {
    position: absolute;
    top: 100%;
    left: 0;
    font-family: "kajiro";
    font-weight: 200;
    color: #fff;
    font-size: 10vw;
    line-height: .9;
}

#hero-left .element1 h1:nth-child(1) {
    top: 0;
}

#hero-left button {
    padding: .8vw 3vw;
    font-size: 3vw;
    margin-top: 2vw;
    font-family: "kajiro";
    pointer-events: all;
}

#hero-right {
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hero-right p {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}

#hero-right #img-div {
    width: 100%;
    height: 140px;
    background-image: url(https://images.unsplash.com/photo-1557053910-d9eadeed1c58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTh8fHBvcnRyYWl0fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#hero-right p:nth-child(3) {
    margin-bottom: 60px;
}

.line {
   margin-bottom: 5px;
    width: 100%;
    color: white;
}